In [74]:
import pandas as pd

In [75]:
df = pd.read_csv('df.csv')
print(df.shape)
df.head()

(250, 14)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,DOD Data Scientist/Engineer,$94K-$155K (Glassdoor est.),Overview\n\nGuidehouse is a leading management...,3.6,Guidehouse\n3.6,"Patuxent River, MD",-1,5001 to 10000 Employees,2018,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1
1,Research Data Scientist,$72K-$120K (Glassdoor est.),IAI is looking for a talented research scienti...,3.7,Intelligent Automation\n3.7,"Rockville, MD",-1,51 to 200 Employees,1987,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$25 to $50 million (USD),-1
2,Research Scientist,-1,Job Description:\n\nOur Reston office is seeki...,3.0,"Metron, Inc.\n3.0","Reston, VA",-1,51 to 200 Employees,-1,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,$25 to $50 million (USD),-1
3,Clinical Lab Scientist/MT,$20-$33 Per Hour(Glassdoor est.),Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Peoria, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
4,"Scientist III, Pharma R & D",$27K-$85K (Glassdoor est.),The Scientist III develops and executes formul...,3.2,Amneal Pharmaceuticals\n3.2,"Piscataway, NJ",-1,5001 to 10000 Employees,2002,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1

In [76]:
# get salary estimate != -1
df = df[df["Salary Estimate"] != '-1']
print(df.shape)

(237, 14)

In [77]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K','').replace('$', ''))
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,DOD Data Scientist/Engineer,94-155,Overview\n\nGuidehouse is a leading management...,3.6,Guidehouse\n3.6,"Patuxent River, MD",-1,5001 to 10000 Employees,2018,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1
1,Research Data Scientist,72-120,IAI is looking for a talented research scienti...,3.7,Intelligent Automation\n3.7,"Rockville, MD",-1,51 to 200 Employees,1987,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$25 to $50 million (USD),-1
3,Clinical Lab Scientist/MT,20-33 Per Hour,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Peoria, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
4,"Scientist III, Pharma R & D",27-85,The Scientist III develops and executes formul...,3.2,Amneal Pharmaceuticals\n3.2,"Piscataway, NJ",-1,5001 to 10000 Employees,2002,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1
6,Clinical Lab Scientist/MT or MLT,20-32 Per Hour,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Pontiac, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1

In [78]:
# Some feature engineering
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided
0,DOD Data Scientist/Engineer,94-155,Overview\n\nGuidehouse is a leading management...,3.6,Guidehouse\n3.6,"Patuxent River, MD",-1,5001 to 10000 Employees,2018,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1,0,0
1,Research Data Scientist,72-120,IAI is looking for a talented research scienti...,3.7,Intelligent Automation\n3.7,"Rockville, MD",-1,51 to 200 Employees,1987,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$25 to $50 million (USD),-1,0,0
3,Clinical Lab Scientist/MT,20-33 Per Hour,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Peoria, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,1,0
4,"Scientist III, Pharma R & D",27-85,The Scientist III develops and executes formul...,3.2,Amneal Pharmaceuticals\n3.2,"Piscataway, NJ",-1,5001 to 10000 Employees,2002,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1,0,0
6,Clinical Lab Scientist/MT or MLT,20-32 Per Hour,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Pontiac, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,1,0

In [79]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.lower().replace('per hour','').replace('employer provided slary:',''))
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided
0,DOD Data Scientist/Engineer,94-155,Overview\n\nGuidehouse is a leading management...,3.6,Guidehouse\n3.6,"Patuxent River, MD",-1,5001 to 10000 Employees,2018,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1,0,0
1,Research Data Scientist,72-120,IAI is looking for a talented research scienti...,3.7,Intelligent Automation\n3.7,"Rockville, MD",-1,51 to 200 Employees,1987,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$25 to $50 million (USD),-1,0,0
3,Clinical Lab Scientist/MT,20-33,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Peoria, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,1,0
4,"Scientist III, Pharma R & D",27-85,The Scientist III develops and executes formul...,3.2,Amneal Pharmaceuticals\n3.2,"Piscataway, NJ",-1,5001 to 10000 Employees,2002,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1,0,0
6,Clinical Lab Scientist/MT or MLT,20-32,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Pontiac, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,1,0

In [80]:
df['min_salary'] = df['Salary Estimate'].apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = df['Salary Estimate'].apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df['min_salary'] + df['max_salary']) / 2
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,DOD Data Scientist/Engineer,94-155,Overview\n\nGuidehouse is a leading management...,3.6,Guidehouse\n3.6,"Patuxent River, MD",-1,5001 to 10000 Employees,2018,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1,0,0,94,155,124.5
1,Research Data Scientist,72-120,IAI is looking for a talented research scienti...,3.7,Intelligent Automation\n3.7,"Rockville, MD",-1,51 to 200 Employees,1987,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$25 to $50 million (USD),-1,0,0,72,120,96.0
3,Clinical Lab Scientist/MT,20-33,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Peoria, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,1,0,20,33,26.5
4,"Scientist III, Pharma R & D",27-85,The Scientist III develops and executes formul...,3.2,Amneal Pharmaceuticals\n3.2,"Piscataway, NJ",-1,5001 to 10000 Employees,2002,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1,0,0,27,85,56.0
6,Clinical Lab Scientist/MT or MLT,20-32,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Pontiac, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,1,0,20,32,26.0

In [81]:
# Company name text only
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis=1)
# state field
df['job_state'] = df['Location'].apply(lambda x: '-1' if ',' not in x.lower() else x.split(',')[1])
df['same_state'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis=1)
# age of company
df['age'] = df['Founded'].apply(lambda x: x if x<1 else 2020-x)
# parsing of job description
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,company_txt,job_state,same_state,age,python_yn,R_yn,spark,aws,excel
0,DOD Data Scientist/Engineer,94-155,Overview\n\nGuidehouse is a leading management...,3.6,Guidehouse\n3.6,"Patuxent River, MD",-1,5001 to 10000 Employees,2018,Company - Private,...,124.5,Guidehouse\n,MD,0,2,1,0,0,0,1
1,Research Data Scientist,72-120,IAI is looking for a talented research scienti...,3.7,Intelligent Automation\n3.7,"Rockville, MD",-1,51 to 200 Employees,1987,Company - Private,...,96.0,Intelligent Automation\n,MD,0,33,1,0,1,0,1
3,Clinical Lab Scientist/MT,20-33,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Peoria, IL",-1,10000+ Employees,1877,Nonprofit Organization,...,26.5,OSF Healthcare\n,IL,0,143,0,0,0,0,0
4,"Scientist III, Pharma R & D",27-85,The Scientist III develops and executes formul...,3.2,Amneal Pharmaceuticals\n3.2,"Piscataway, NJ",-1,5001 to 10000 Employees,2002,Company - Public,...,56.0,Amneal Pharmaceuticals\n,NJ,0,18,0,0,0,0,0
6,Clinical Lab Scientist/MT or MLT,20-32,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Pontiac, IL",-1,10000+ Employees,1877,Nonprofit Organization,...,26.0,OSF Healthcare\n,IL,0,143,0,0,0,0,0

In [82]:
df.to_csv('df_clean.csv', index=False)