In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('df.csv')
print(df.shape)
df.head()

(250, 14)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,DOD Data Scientist/Engineer,$94K-$155K (Glassdoor est.),Overview\n\nGuidehouse is a leading management...,3.6,Guidehouse\n3.6,"Patuxent River, MD",-1,5001 to 10000 Employees,2018,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1
1,Research Data Scientist,$72K-$120K (Glassdoor est.),IAI is looking for a talented research scienti...,3.7,Intelligent Automation\n3.7,"Rockville, MD",-1,51 to 200 Employees,1987,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$25 to $50 million (USD),-1
2,Research Scientist,-1,Job Description:\n\nOur Reston office is seeki...,3.0,"Metron, Inc.\n3.0","Reston, VA",-1,51 to 200 Employees,-1,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,$25 to $50 million (USD),-1
3,Clinical Lab Scientist/MT,$20-$33 Per Hour(Glassdoor est.),Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Peoria, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
4,"Scientist III, Pharma R & D",$27K-$85K (Glassdoor est.),The Scientist III develops and executes formul...,3.2,Amneal Pharmaceuticals\n3.2,"Piscataway, NJ",-1,5001 to 10000 Employees,2002,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1

In [9]:
# get salary estimate != -1
df = df[df["Salary Estimate"] != '-1']
print(df.shape)

(237, 14)

In [10]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,DOD Data Scientist/Engineer,$94K-$155K,Overview\n\nGuidehouse is a leading management...,3.6,Guidehouse\n3.6,"Patuxent River, MD",-1,5001 to 10000 Employees,2018,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1
1,Research Data Scientist,$72K-$120K,IAI is looking for a talented research scienti...,3.7,Intelligent Automation\n3.7,"Rockville, MD",-1,51 to 200 Employees,1987,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$25 to $50 million (USD),-1
3,Clinical Lab Scientist/MT,$20-$33 Per Hour,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Peoria, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
4,"Scientist III, Pharma R & D",$27K-$85K,The Scientist III develops and executes formul...,3.2,Amneal Pharmaceuticals\n3.2,"Piscataway, NJ",-1,5001 to 10000 Employees,2002,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1
6,Clinical Lab Scientist/MT or MLT,$20-$32 Per Hour,Description\n\nPerforms various routine and co...,3.8,OSF Healthcare\n3.8,"Pontiac, IL",-1,10000+ Employees,1877,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1

In [ ]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K',''))